.header {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 150px;
    color: blue;
}

.menu-container {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    margin: 0 32px;
    gap: 24px;
}